<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" aria-expanded="false" data-toggle="collapse" data-target=".sidebar-collapse" >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><strong><i class="icon fa fa-plane"></i>
                    AVReport</strong></a>

            <div id="sideNav" href="">
                <i class="fa fa-bars icon"></i>
            </div>
        </div>

        <ul class="nav navbar-top-links navbar-right">

            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="/users/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
    </nav>
    <!--/. NAV TOP  -->
   <nav class="navbar-default navbar-side" role="navigation">
        <div class="collapse sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <a class="active-menu" href="/departments/qualityAssurance"><i class="fa fa-desktop"></i>Report Summaries</a>
                </li>

            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->

    <div id="page-wrapper" class="img-back">
        <div class="header">
            <h1 class="page-header">
                Aviation Security and Airport Services
            </h1>
            <% include ./partials/messages %>

        </div>
        <div id="page-inner">

            <div class="row">
                <div class="col-md-12">

                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                <iframe style="border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="1000" height="480" src="https://charts.mongodb.com/charts-project-0-qzhtg/embed/charts?id=6b1ffffc-56d0-4c4a-bfca-d1cc0a0efd9e&tenant=ab0d5a7f-29fd-414a-84f5-5e40ea80ff71"></iframe>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 text-center">
                    <a class="btn btn-primary mb-2" href="/departments/action">Submit Action Taken</a>
                </div>
            </div>
            <!-- /. ROW  -->

        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="/assets/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="/assets/js/bootstrap.min.js"></script>

<!-- Metis Menu Js -->
<script src="/assets/js/jquery.metisMenu.js"></script>
<!-- Morris Chart Js -->
<script src="/assets/js/morris/raphael-2.1.0.min.js"></script>
<script src="/assets/js/morris/morris.js"></script>


<script src="/assets/js/easypiechart.js"></script>
<script src="/assets/js/easypiechart-data.js"></script>

<script src="/assets/js/Lightweight-Chart/jquery.chart.js"></script>

<!-- Custom Js -->
<script src="/assets/js/custom-scripts.js"></script>

<!-- Chart Js -->
<script type="/text/javascript" src="assets/js/Chart.min.js"></script>
<script type="/text/javascript" src="assets/js/chartjs.js"></script>

