<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" aria-expanded="false" data-toggle="collapse" data-target=".sidebar-collapse" >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/main"><strong><i class="icon fa fa-plane"></i>
                    AVReport</strong></a>

            <div id="sideNav" href="">
                <i class="fa fa-bars icon"></i>
            </div>
        </div>

        <ul class="nav navbar-top-links navbar-right">

            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="/users/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
    </nav>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="collapse sidebar-collapse">
            <ul class="nav" id="main-menu">

                <li>
                    <a class="active-menu" href="/main"><i class="fa fa-dashboard"></i> Home</a>
                </li>
                <li>
                    <a href="/reports/mandatory"><i class="fa fa-desktop"></i> Mandatory Report</a>
                </li>

                <li>
                    <a href="#"><i class="fa fa-sitemap"></i> Standard Reports<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/reports/anonymous">Anonymous Report</a>
                        </li>
                        <li>
                            <a href="/reports/normal">Normal Report</a>
                        </li>
                        <li>
                            <a href="/reports/captain">Captain's Report</a>
                        </li>
                        <li>
                            <a href="/reports/maintenance">Maintenance Report</a>
                        </li>
                        <li>
                            <a href="/reports/personal">Personal Report</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/reports"><i class="fa fa-book"></i>View Submitted Reports</a>
                </li>
                <li>
                    <a  href="/noticeboard"><i class="fa fa-clipboard"></i>Notice board</a>
                </li>
            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->

    <div id="page-wrapper" class="img-back" style="background-image: url('');">
        <div class="header">
            <h1 class="page-header">
                Aviation Hazard and Occurrence Reporting System
            </h1>

        </div>
        <div id="page-inner">

            <div class="row">
                <div class="col-md-12">

                </div>
            </div>


            <%# <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Submit A Report
                        </div>
                        <div style="text-align: center; margin-bottom: 20px; margin-top: 20px" class="container-fluid">
                            <a href="/reports/mandatory" type="button" class="btn btn-danger btn-lg btn-block">Mandatory
                                Report</a>
                        </div>
                        <div style="text-align: center; margin-bottom: 5px; margin-top: 80px" class="container-fluid">
                            <h2 >Standard Reports</h2>
                        </div>
                        <div style="text-align: center; margin-bottom: 30px; margin-top: 30px" class="container-fluid">
                            <a href="/reports/anonymous" type="button" class="btn btn-success btn-lg btn-block ">Anonymous
                                Report</a>
                        </div>
                        <div style="text-align: center; margin-bottom: 30px; margin-top: 30px" class="container-fluid">
                            <a href="/reports/normal" type="button" class="btn btn-primary btn-lg btn-block ">Normal
                                Report</a>
                        </div>
                        <div style="text-align: center; margin-bottom: 30px; margin-top: 30px" class="container-fluid">
                            <a href="/reports/captain" type="button" class="btn btn-primary btn-lg btn-block ">Captain's
                                Report</a>
                        </div>
                        <div style="text-align: center; margin-bottom: 30px; margin-top: 30px" class="container-fluid">
                            <a href="/reports/maintenance" type="button"
                                class="btn btn-primary btn-lg btn-block ">Maintenance Report</a>
                        </div>
                        <div style="text-align: center; margin-bottom: 30px; margin-top: 30px" class="container-fluid">
                            <a href="/reports/personal" type="button"
                                class="btn btn-primary btn-lg btn-block ">Personal Report</a>
                        </div>
                    </div>

                </div>
                
            </div> %>
            <!-- /. ROW  -->
            <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">                   
                        <div class="board">
                        <a href="/reports/mandatory">
                            <div class="panel panel-primary">
                                <div class="number">
                                    <h3>
                                        <h3 style="text-transform: uppercase;">Mandatory Report</h3>
                                        <small style="text-transform: capitalize;">To be submitted monthly</small>
                                    </h3>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-clipboard fa-5x red"></i>
                                </div>
                            </div>
                            </a>
                        </div>                       
                    </div>

                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="board">
                        <a href="/reports/anonymous">
                            <div class="panel panel-primary">
                                <div class="number">
                                    <h3>
                                        <h3 style="text-transform: uppercase;">Anonymous Report</h3>
                                        <small style="text-transform: capitalize;">Report without credentials</small>
                                    </h3>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-book fa-5x blue"></i>
                                </div>

                            </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="board">
                        <a href="/reports/normal">
                            <div class="panel panel-primary">
                                <div class="number">
                                    <h3>
                                        <h3 style="text-transform: uppercase;">Normal Report</h3>
                                        <small style="text-transform: capitalize;">generic report</small>
                                    </h3>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-book fa-5x green"></i>
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="board">
                        <a href="/reports/captain">
                            <div class="panel panel-primary">
                                <div class="number">
                                    <h3>
                                        <h3 style="text-transform: uppercase;">Captains Report</h3>
                                        <small style="text-transform: capitalize;">flight operational complications</small>
                                    </h3>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-plane fa-5x yellow"></i>
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="board">
                        <a href="/reports/maintenance">
                            <div class="panel panel-primary">
                                <div class="number">
                                    <h3>
                                        <h3 style="text-transform: uppercase;">Maintenance Report</h3>
                                        <small style="text-transform: capitalize;">maintenance risks and hazards</small>
                                    </h3>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-plane fa-5x green"></i>
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="board">
                        <a href="/reports/personal">
                            <div class="panel panel-primary">
                                <div class="number">
                                    <h3>
                                        <h3 style="text-transform: uppercase;">Personal Report</h3>
                                        <small style="text-transform: capitalize;">any personal issues</small>
                                    </h3>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-user fa-5x red"></i>
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>

                </div>

        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="/assets/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="/assets/js/bootstrap.min.js"></script>

<!-- Metis Menu Js -->
<script src="/assets/js/jquery.metisMenu.js"></script>
<!-- Morris Chart Js -->
<script src="/assets/js/morris/raphael-2.1.0.min.js"></script>
<script src="/assets/js/morris/morris.js"></script>


<script src="/assets/js/easypiechart.js"></script>
<script src="/assets/js/easypiechart-data.js"></script>

<script src="/assets/js/Lightweight-Chart/jquery.chart.js"></script>

<!-- Custom Js -->
<script src="/assets/js/custom-scripts.js"></script>

<!-- Chart Js -->
<script type="/text/javascript" src="assets/js/Chart.min.js"></script>
<script type="/text/javascript" src="assets/js/chartjs.js"></script>

