<div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/main"><strong><i class="icon fa fa-plane"></i>
                        Report System</strong></a>

                <div id="sideNav" href="">
                    <i class="fa fa-bars icon"></i>
                </div>
            </div>

            <ul class="nav navbar-top-links navbar-right">

                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/users/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li>
                        <a href="/main"><i class="fa fa-dashboard"></i> Home</a>
                    </li>
                    <li>
                        <a  href="/reports/mandatory"><i class="fa fa-desktop"></i> Mandatory Report</a>
                    </li>

                    <li>
                        <a  href="#"><i class="fa fa-sitemap"></i> Standard Reports<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/reports/anonymous">Anonymous Report</a>
                            </li>
                            <li>
                                <a href="/reports/normal">Normal Report</a>
                            </li>
                            <li>
                                <a href="/reports/captain">Captain's Report</a>
                            </li>
                            <li>
                                <a href="/reports/maintenance">Maintenance Report</a>
                            </li>
                            <li>
                                <a href="/reports/personal">Personal Report</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="active-menu" href="/reports"><i class="fa fa-book"></i>View Submitted Reports</a>
                    </li>
                    <li>
                    <a  href="/noticeboard"><i class="fa fa-clipboard"></i>Notice board</a>
                </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div class="header">
            
                <h1 class="page-header">
                    Renotification Form
                </h1>
            </div>

            <div id="page-inner">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="booking-form">
                                <form action="/reports/renotify" method="POST">
                                   
                                    <div class="row">
                                    <% include ./partials/messages %>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <span class="form-label">Report Reference No.</span>
                                                <input class="form-control" name="reportID" type="text"
                                                    placeholder="Enter Report Ref No." required>
                                            </div>

                                        </div>
                                    </div>

                                    <h3>Description: </h3>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea class="textarea-input" name="description"
                                                    placeholder="Enter Description" rows="4" required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-btn">
                                                <button type="submit" name="submit" class="submit-btn">Submit
                                                    report</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>

    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="/assets/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="/assets/js/jquery.metisMenu.js"></script>
    <script src="/assets/js/select2.full.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".selectbox").select2();
        });
    </script>
    <!-- Custom Js -->
    <script src="/assets/js/custom-scripts.js"></script>


