@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: #505962;
}

[class*="col-"] {
    padding: 1rem;
}



/*============ LANDING PAGE ============*/

.home-inner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url('/img/aeroplane-aircraft-airline-912050.jpg');
}

.navbar {
	padding: .5rem 0;
}

.container-fluid {
	padding: 1rem 0;
}

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
}

.caption h1 {
    color: white;
    font-size: 4.5rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}

.caption h3 {
    color: white;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 400;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 2rem;
}

.caption h4 {
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 400;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 2rem;
    word-spacing: 0.5rem;
    padding-top: 2rem;
}

h2 {
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 400;
    word-spacing: 0.5rem;
}

h4 {
	color: white;
	font-size: 1.1rem;
	text-transform: uppercase;
	font-weight: 400;
	word-spacing: 0.3rem;
}

h3 {
	color: white;
	font-size: 1.7rem;
}

.btn-lg {
    border-width: medium;
    border-radius: 4rem;
    padding: .8rem 1.5rem;
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block!important;
}

.btn-lg:hover,
.btn-lg:focus {
    border-color: #189582;
    background-color: #189582;
    color: white;
}

.logout-btn {
    border-width: medium;
    border-radius: 4rem;
    padding: .8rem 1.5rem;
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block!important;
}

.logout-btn :hover,
.logout-btn :focus {
	color: #212529;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}

.btn {
    margin-right: 3rem;
    margin-left: 3rem;


}


/*============ LANDING PAGE ============*/

.narrow {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}

.btn-sm {
    border-width: medium;
    border-radius: 0;
    padding: .5rem 1.1rem;
    font-size: .9rem;
    font-weight: 400;
    text-transform: uppercase;
    margin: 1rem;
}

.btn-torquoise {
    border-color: #1ebba3;
    background-color: #1ebba3;
    color: white;
}

.btn-torquoise:hover,
.btn-torquoise:focus {
    border-color: #189582;
    background-color: #189582;
    color: white;
}

.jumbotron {
    margin-bottom: 0;
    border-radius: 0;
    padding: 1rem 0 3rem;
}

h3.heading {
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.9rem;
}

.heading-underline {
    width: 3rem;
    height: .2rem;
    background-color: #1ebba3;
    margin: 0 auto 2rem;
}

.feature {
    text-align: center;
}

.feature .fa-layers {
    color: #1ebba3;
    height: 6rem;
    margin: 0 auto;
    width: 3.9rem;
}

.feature h3 {
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-bottom: .4rem;
}

.feature p {
    font-size: 1.1rem;
}


.section {
	position: relative;
	height: 220vh;
}

.section .section-center {
	position: absolute;
	top: 6em;
	left: 0;
	right: 0;
}

#booking {
	font-family: 'PT Sans', sans-serif;
	background-image: url('../img/aircraft-airplane-airplane-wing-2147486.jpg');
	background-size: cover;
	background-position: center;
}

.booking-form {
	background: rgba(0, 0, 0, 0.8);
    padding-right: 100px;
    padding-left: 100px;
	padding-top: 40px;    
	padding-bottom: 40px;            
	border-radius: 7px;
	margin: 0 auto;
	width: 75%;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 20px;
}

.booking-form .form-control {
	background-color: #fff;
	height: 40px;
	color: #191a1e;
	border: none;
	font-size: 15px;
	font-weight: 400;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 40px;
	padding: 0px 25px;
}

.booking-form .form-control::-webkit-input-placeholder {
	color: rgba(82, 82, 84, 0.4);
}

.booking-form .form-control:-ms-input-placeholder {
	color: rgba(82, 82, 84, 0.4);
}

.booking-form .form-control::placeholder {
	color: rgba(82, 82, 84, 0.4);
}

.booking-form input[type="date"].form-control:invalid {
	color: rgba(82, 82, 84, 0.4);
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 10px;
	bottom: 6px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: rgba(0, 0, 0, 0.3);
	font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.booking-form .form-label {
	display: block;
	margin-left: 20px;
	margin-bottom: 5px;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 24px;
	height: 28px;
	font-size: 13px;
	color: #fff;
}


.booking-form .form-checkbox input {
	position: absolute !important;
	margin-left: -9999px !important;
	visibility: hidden !important;
}

.booking-form .form-checkbox label {
	position: relative;
	padding-top: 4px;
	padding-left: 30px;
	font-weight: 400;
	color: #fff;
}

.booking-form .form-checkbox label+label {
	margin-left: 15px;
}

.booking-form .form-checkbox input+span {
	position: absolute;
	left: 2px;
	top: 4px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 50%;
}

.booking-form .form-checkbox input+span:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0px;
	height: 0px;
	border-radius: 50%;
	background-color: #189582;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.booking-form .form-checkbox input:not(:checked)+span:after {
	opacity: 0;
}

.booking-form .form-checkbox input:checked+span:after {
	opacity: 1;
	width: 10px;
	height: 10px;
}

.booking-form .form-btn {
	margin-top: 27px;
}

.booking-form .submit-btn {
	color: #fff;
	background-color: #189582;
	font-weight: 400;
	height: 50px;
	font-size: 14px;
	border: none;
	width: 100%;
	border-radius: 10px;
	text-transform: uppercase;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
	opacity: 0.9;
}



/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
